__pycache__/
pretrained/*
data/*
wandb/*
outputs/*
ckpts/*
mels/*
lightning_logs/*

.vscode/*
.cache/*

!pretrained/README.md
!pretrained/download.py
!data/README.md
!.gitkeep

*.wav
*.mp3
*.flac
*.csv

clean*.py
upload.py
test*.py
viz*.py
