click
einops
huggingface_hub
hydra-core
jaxtyping
librosa
matplotlib
numpy
omegaconf
Pillow
pyloudnorm
PyYAML
pytorch_lightning
resampy
schedulefree
scipy
soundfile
tensorboard
thop
torchdiffeq
tqdm
transformers
wandb
x_transformers