click
einops
huggingface_hub
hydra-core
jaxtyping
librosa
matplotlib
numpy
omegaconf
Pillow
pyloudnorm
pytorch_lightning
PyYAML
resampy
schedulefree
scipy
soundfile
thop
torchdiffeq
tqdm
transformers
wandb
x_transformers
