# model
# dim-depth

seed: 2025

defaults:
  - _self_
  - model: dit-256-4

dataset:
  data_dir: "data/finetune"
  meta_info_path: "data/finetune/meta_info.json"
  sample_rate: 44100
  n_mel_channels: 128
  hop_length: 512
  max_frame_len: 256

training:
  learning_rate: 1e-4
  betas: (0.9, 0.95)
  weight_decay: 0.0
  batch_size_per_gpu: 64
  grad_accumulation_steps: 1
  max_grad_norm: 0
  max_steps: 10000
  warmup_ratio: 0.05
  save_per_steps: 1000
  test_per_steps: 1000
  wandb_project: "RIFT-SVC-FT"
  wandb_run_name: "finetune_${model.name}_${training.max_steps}steps-lr${training.learning_rate}" 
  save_weights_only: true
  num_workers: 16
  eval_sample_steps: 32
  eval_cfg_strength: 2.0